body{
  font-family: Arial;
  text-align: center;
  background: #ffeef5;
  margin: 0;
}

.hidden{
  display:none;
}

button{
  padding: 12px 20px;
  border: none;
  border-radius: 12px;
  background: #ff4d88;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

#puzzle{
  width: 320px;
  height: 320px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.tile{
  width: 80px;
  height: 80px;
background-image: url("salma.jpeg");
  background-size: 320px 320px;
  border: 1px solid white;
  cursor: grab;
}

.msg{
  width: 70%;
  margin: auto;
  font-size: 18px;
  line-height: 1.6;
}

.box{
  background: white;
  padding: 15px;
  margin: 20px auto;
  width: 60%;
  border-radius: 15px;
}
